@import url("./globalstyles.css");

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --padding: 1rem;
  --small-margin: 1rem;
  --big-margin: 3rem;
  --very-top-bot-margin: 5rem;
  --u-width: 50vw;
  --border-radius: 3px;
  --wayfinder-sz: 20px;
}

/* ------------------------------ main sections ----------------------------- */

html {
  font-size: 14px;
  background: linear-gradient(0deg, var(--sky-blue), var(--platinum));
  height: 100%;
  overflow: hidden;
}

body {
  height: 100vh;
  overflow-y: scroll;

  position: relative;
}

header,
main {
  width: var(--u-width);
  margin: var(--big-margin) auto;
}

header {
  position: fixed;
  width: 100%;

  margin-top: var(--very-top-bot-margin);
  z-index: -10;
}

main {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

#main-bg {
  position: relative;
  top: 100vh;

  background: var(--sky-blue);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    var(--sky-blue-half) 1%,
    var(--sky-blue) 5%,
    var(--sky-blue) 50%,
    var(--sky-blue) 95%,
    var(--sky-blue-half) 98%,
    rgba(255, 255, 255, 0) 100%
  );
  overflow: auto;

  padding-top: calc(var(--very-top-bot-margin) * 8);
  /* padding-bottom: calc(var(--very-top-bot-margin) * 8); */
  padding-bottom: 50vh;
}

footer {
  width: var(--u-width);
  height: fit-content;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: calc(var(--big-margin) / 2);
  padding-bottom: var(--very-top-bot-margin);

  color: var(--platinum);

  & > a {
    text-align: center;

    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;

    text-transform: uppercase;
    text-decoration: none !important;
  }

  & > a::after {
    content: " \2197";
  }
}

/* -------------------------- text, links, buttons -------------------------- */

h1 {
  font-family: Ballet, cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: 7rem;
  text-align: center;
  line-height: 5rem;
  text-shadow: 0px 0px 6px var(--platinum);
  color: var(--sky-blue);
}

#for-the {
  font-size: 4rem;
}

#date-time {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  line-height: 5rem;
  color: var(--sky-blue);
}

h2 {
  margin-top: calc(var(--small-margin) * 2);
  margin-bottom: var(--small-margin);

  border-bottom: 2px solid var(--platinum);
  color: var(--platinum);
}

h3 {
  margin-top: calc(var(--small-margin) * 2);
  font-style: italic;
}

h4 {
  margin-top: var(--small-margin);

  border-bottom: 2px dotted var(--platinum);
  font-family: "DM Mono", monospace;
  font-weight: 500;
  text-transform: uppercase;
}

p,
li,
h3,
h4,
aside {
  color: var(--platinum);
  margin-bottom: var(--small-margin);
}

a {
  color: var(--platinum);
  text-shadow: 0px 0px 6px var(--onyx);
}

#template-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 1rem;
  margin-left: 0;
  /* margin-left: 2ch; */
  list-style: none;
}

#template-buttons > a {
  padding: calc(var(--padding) * 1.5);

  border: 2px solid var(--platinum);
  border-radius: calc(var(--border-radius) * 50);

  text-shadow: none;
  text-decoration: none;
  text-align: center;

  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;

  transition: background-color 0.2s linear;
}

#template-buttons > a:hover,
#template-buttons > a:active {
  background-color: var(--platinum-half);
}

ol.steps > li {
  position: relative;
}

.tooltip-trigger {
  display: inline-block;
  position: absolute;
  top: 0;
  right: calc(var(--wayfinder-sz) * -2);

  width: var(--wayfinder-sz);
  height: var(--wayfinder-sz);
  background-size: contain;
  background-repeat: no-repeat;

  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 6px var(--platinum));
  filter: drop-shadow(0px 0px 6px var(--platinum));
}

.tooltip-trigger::before {
  content: attr(data-tooltip);
  position: absolute;
  width: 10rem;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--onyx);
  color: var(--platinum);
  padding: calc(var(--padding) / 2);
  border-radius: var(--border-radius);

  font-size: 0.8rem;
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.02rem;
  text-align: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.tooltip-trigger:hover::before,
.tooltip-trigger:active::before,
.tooltip-trigger:focus::before {
  opacity: 1;
  visibility: visible;
}

ol.steps .gsheets-icon {
  background-image: url(./screengrabs/sheets-logo.png);
}

ol.steps .csb-icon {
  background-image: url(./screengrabs/codesandbox-logo.png);
}

ol.steps .dr4db-icon {
  background-image: url(./screengrabs/dynamic-resume-logo.png);
}

span.green {
  background-color: var(--viridian);
  border-radius: var(--border-radius);
  padding: 3px;
}

/* --------------------------------- images --------------------------------- */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--small-margin);
  border-radius: var(--border-radius);
}

img.max-height {
  width: auto;
  max-height: 60vh;
}

img.max-width {
  max-width: 50vw;
  height: auto;
}

img.diagram {
  position: relative;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}

img.diagram.zoomed {
  transform: scale(2);
  box-shadow: 0px 0px 6px var(--onyx);
  z-index: 20;
}

img.sticky {
  max-width: 30vw;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border-radius: 0;
}

img.diagram:hover {
  cursor: pointer;
}

/* ------------------------------- code blocks ------------------------------ */

code {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

code:not(.lang-jsx) {
  background-color: var(--platinum-quarter);
  border-radius: var(--border-radius);
  padding: 3px;
}

.code-block {
  width: (var(--u-width));
  height: fit-content;
  overflow-x: scroll;
  overflow-y: hidden;

  background-color: var(--platinum-half);
  border-radius: var(--border-radius);
  padding: var(--padding);

  position: relative;

  color: var(--onyx);
  box-shadow: inset -30px 0px 25px -25px var(--sky-blue);
  transition: box-shadow 0.2s linear;
}

.code-block::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
}

li > ul > li > .code-block {
  margin-left: calc(-1 * 2ch);
}

.hljs-comment {
  font-style: italic;
  color: var(--viridian);
}

/* ---------------------------------- table --------------------------------- */

#table {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--padding);
  padding-bottom: var(--padding);

  color: var(--platinum);
}

.table__col {
  flex: 1;

  border: 1px solid var(--platinum);
  border-radius: var(--border-radius);
}

.col__header {
  padding: calc(var(--padding) / 2);
  height: calc(0.8rem * 2.5);

  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#col__header-1 {
  background-color: var(--viridian);
}

#col__header-2 {
  background-color: var(--gold);
}

#col__header-3 {
  background-color: var(--munsell);
}

.col__explanation {
  padding: calc(var(--padding) / 2);

  background-color: var(--platinum-quarter);
  font-size: 0.7rem;

  margin-bottom: calc(var(--padding) / 2);
}

.col__data {
  padding: calc(var(--padding) / 2);

  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

.col__data > ul > li {
  margin-left: calc(var(--padding) / 2);
  margin-bottom: calc(var(--padding) / 2);
}

/* --------------------------------- asides --------------------------------- */

aside {
  position: relative;

  background-color: var(--onyx);
  border-radius: var(--border-radius);

  padding: var(--padding) calc(var(--padding) * 2);

  font-style: italic;
  text-align: center;
}

aside::before {
  content: "\2737";
  position: absolute;
  top: calc(var(--padding) / 2);
  left: calc(var(--padding) / 2);
  font-style: normal;
}

aside::after {
  content: "\2737";
  position: absolute;
  top: calc(var(--padding) / 2);
  right: calc(var(--padding) / 2);
  font-style: normal;
}

/* ---------------------------- facilitator note ---------------------------- */

.facilitator-note {
  display: none;

  width: 100%;
  height: fit-content;
  position: relative;
  margin: calc(var(--small-margin) * 6) auto;

  background-color: var(--sky-blue);
  background-image: url(./screengrabs/stop.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;

  border-radius: 50%;

  z-index: 0;
}

.facilitator-note > p {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  color: var(--platinum);

  z-index: 10;
}

/* .facilitator-note:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;

  width: 100px;
  height: 100px;

  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0) 0%,
    var(--sky-blue) 70%,
    var(--sky-blue) 100%
  );
  border-radius: 50%;

  z-index: -10;
} */

/* ------------------------------- responsive ------------------------------- */

@media only screen and (max-width: 668px) {
  :root {
    --u-width: 75vw;
  }

  main {
    margin: var(--big-margin) calc(var(--small-margin) * 3);
  }

  h1 {
    font-size: 4rem;
    line-height: 3rem;
  }

  #for-the {
    font-size: 4rem;
  }

  img.example-gif {
    max-width: var(--u-width);
  }

  img.promo-gif {
    max-height: 80vh;
  }

  img.sticky {
    max-width: var(--u-width);
  }

  #template-buttons {
    flex-direction: column;
    gap: var(--padding);
    justify-content: space-between;
  }

  .tooltip-trigger::before {
    transform: translateX(-100%);
  }

  #table {
    flex-direction: column;
  }

  .col__header {
    height: calc(0.8rem * 1.5);
  }
}
